
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.highlightedOnSearchRequest_tvr {
 border: solid lightblue !important;
 border-radius: 10px;
}


 
  

.modeTabMain_tvr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 12px;
    font-weight: bold;
    position: fixed;
    top: -10%;
    left: calc(50% - 150px);
    width: 300px;
    min-height: 50px;
    background-color: rgb(71, 70, 70);
    opacity: 0;
    color: #fff;
    z-index: 9999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 2px#000;
    animation: modeTabInOut 3s ease-in-out; 
    padding: 5px; 
}

.transcriptParagraph_tvr {
    margin: 10px;
    margin-left: 30px;
}

.hearingImageContainer_tvr {
    position: relative;
    align-self: start;
    width: 37px;
    height: 45px;
    margin: 3px;
    border-radius: 50%;
    
}

.hearingImage_tvr {
    position: absolute;
    width: 37px;
    height: 45px;
    top: 0;
    left: 0;
    border-radius: 50%;
  
    background-color: #fff; 

}

.numberLabel_tvr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px !important;
    max-height: 16px;
    max-width: 20px;
    height: 16px;
    width: 20px;
    padding: 3px !important;
    color: #fff;
    font-weight: bold;
    background-color: blue;
    border: solid 1px #000;
    z-index: 3;
    
  }


  


@keyframes modeTabInOut {
    0% {top: -10%; opacity: 0;}
    5% {top: 0%; opacity: .5;}
    90% {top: 0%; opacity: .5}
    100%{top: -10%; opacity: 0;}
}