
* {
    margin: 0;
}
.highlightedOnSearchRequest {
 background-color: lightblue !important;


}

.numberLabel {
    position: relative;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 8px !important;
    max-height: 14px;
    max-width: 16px;
    padding: 2px !important;
    color: #fff;
    background-color: green;
    border: solid 1px #000;
    z-index: 3;
    
  }
  


