.mainMenuContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5%;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    height: 100%;
    box-shadow: 3px 3px 3px;
    overflow: hidden;
}

header {
    margin: 0 2% 0 2%;
}

#homeTabContent {
    height: 96%;
    overflow-Y: scroll;
}

.tabsContainer {
    position: relative;
    margin: 2%;
    height: 90%;
}

.accordionContainer {
    width: 50%;
    height: 50%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 5%;
}

.savedVideoList {
    list-style: none;
}

.videoListItem {
    margin-bottom: 15px;
    white-space: nowrap;
}

.btn-warning {
    padding: 3px;
    margin-right: 10px;
}